---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About Me">
    <p>
      Hola, soy Juan.
    </p>
    <p>
      Soy un amante de la vida, del conocimiento, de los procesos que transforman y de las emociones que desbordan. En estos últimos años he caminado entre lo incierto y lo profundo, entre la búsqueda de libertad y la construcción de propósito. He aprendido que no todo lo que se siente debe ser explicado, pero sí vivido con intensidad.
    </p>
    <p>
      Soy un ser curioso por naturaleza, con alma de programador y corazón de filósofo. Me interesa la tecnología, la gestión de proyectos, la escritura, la introspección y todo aquello que permita construir un puente entre lo que soñamos y lo que vivimos.
    </p>
    <p>
      Este blog nace del deseo de centrar mis pensamientos, de compartir mis experiencias, aprendizajes y reflexiones. Aquí hay trozos de mi mente, de mi cuerpo, y de mi alma. Aquí hay verdad, transformación y gratitud.
    </p>
    <p>
      Bienvenido a este espacio donde me doy permiso para ser.
    </p>
  </Page>
</Base>
